.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1440px;
  }
  
  .hero-img-container {
    margin-bottom: 0;
    width: 15%;
  }
  
  .hero-img {
    min-width: 100%;
  }
  
  .hero-content {
    margin-bottom: 27px;
    width: 100%;
    transform: translateY(-35px);
  }